.App {
  margin: 0;
  padding: 0;
  background-color: #777;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  /* font-weight: 250;
  font-size: 12px;
  line-height: 30px; */
  color: #777;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}
* {
  margin: 0;
  padding: 0;
}
.footer {
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.modal-content {
  display: block;
}
.modal-content a {
  align-items: end;
}

img {
  width: 200px;
  height: 26em;
}
.menu {
  background-color: black;
}