.App {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
.footer {
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.card-image img {
  width: 200px;
}
/*
.footer > p {
  margin: 1.5rem;
  font-size: 20px;
}

.card {
  background-color: #1a1a1a;
  transition: all 1s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.05);
}

p {
  color: white;
}

.bold {
  font-weight: bold;
}

button {
  background-color: black;
  width: 100%;
  height: 20%;
  border-radius: 4px;
}

button:hover {
  background-color: gray;
}

#openPopUp {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.column-detail {
display: flex;
column-count: 2;
margin: 0;
padding: 25px auto;
}

.product-card {
  position: relative;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  line-height: 1.428571429;
  color: #bbb;
  font-size: 18px;
  font-family: 'Sen', sans-serif;
  background-color: #1a1a1a;
}

.product-tumb {
  margin: 0;
  padding: 30px 40px;
}

.product-tumb img {
  width: 300px;
  border-radius: 30px;
}



.product-card {
  padding-top: 70px;
  padding-left: 70px;
  align-items: center;
  text-align: left;
}

.product-card p {
  padding: 10px;
}

.product-card button {
  width: 100px;
  height: 40px;
}

.product-card .Buy-ticket {
  background-color: rgb(255, 138, 0);
  margin-right: 10px;
}

.product-card .Buy-ticket:hover {
  background-color: rgb(206, 233, 0);
}

.product-card .watch{
  background-color: rgb(255, 1, 0);
}

.product-card .watch:hover {
  background-color: rgb(229, 1, 0);
}

.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
} */